body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e97e3;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555555;
    border-radius: 18px;
    color: #1e97e3;
}

main {
    padding: 20px;
}

section {
    background-color: #a5c9df;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section img {
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

h2 {
    color: #333;
}

h3 {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
